.Cart-list-container {
  margin: 50px 0 23px;
  position: relative;
  display: flex;
  justify-content: center;
  .cart-container {
    height: 40px;
    width: 76%;
    background: #2f4cce;
    .cartHeading-Name {
      color: #fff;
      text-align: center;
      padding-top: 10px;
    }
  }
}
.item-wrper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:10 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    height: 74px;
    width: 190%;
   
    img {
      width: 50px;
      object-fit: cover;
    }
    .controls {
      display: flex;
      gap: 30px;
      button {
        font-size: large;
        border: none;
        border-radius: 10%;

        width: 33px;
        height: 28px;
       
  & { box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

&:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
      
      }
      .btn-:hover{
        background-color: #f73b3b;
        box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
      }
        
    }
    .price {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
    .closbutton button {
      font-size: medium;
      border: none;
      background: none;
      border-radius: 10%;
      padding-left: 10px;
      cursor: pointer;
      transform: translateY(0px) ;
      transition: transform ease 0.3s;
      &:hover {
        color: red;
        text-shadow: 2px 8px 5px #f48, 2px 0px 1px red;
       
        transform: translateY(-3px) ;
       
        transition: all cubic-bezier(0.63, 0.22, 0.46, 0.85) 0.3s;
      }
    }
  }
}
.total-conainer  {
  width: 300px;
  height: 266px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
 padding: 20px;
  .totel-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .items-keys h4 , .items-valus h4{
      padding-bottom: 40px;
    }
  }
  .totel-items-total{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
.item-totel-wrwper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  gap: 30px;
}
