.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Card-info-itm-price-button {
  border-radius: 50px;
  padding: 8px 15px;
  margin-bottom: 10px;
  border: none;
  color: orangered;
  background-color: rgba(255, 68, 0, 0.281);
}
