//recomendrd -Component...
.recom-bg-main-wrape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
}
.recom-bg-wraper {
  padding-top: 30px;
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  h5,
  h2 {
    text-align: center;
  }
}
